@import '../../styles/theme';
page{
  background: $brand-5;
}
.fast-approval-page{
  
  .steps-bg{
    background: $brand-8;
    padding: $v-spacing-20 0px $v-spacing-20 0px;
  }
  .step-one{
    background: $brand-8;
    margin: $v-spacing-30;
    border-radius: $radius-16;
    .thumbnail{
      width: 200px;
      height: 140px;
    }
    .name-title{
      font-size: $font-size-34;
      color: $brand-9;
      .color-red{
        color: $brand-12;
      }
    }
    .id-card_image{
      width: 200px;
      height: 140px;
    }
    .preview{
      position: relative;
      .close{
        position: absolute;
        right: -10px;
        margin-top: -170px;
      }
    }
    .divider{
      border-top: 1px solid $brand-5;
    }
    .des{
      margin-top: $h-spacing-20;
      font-size: $font-size-24;
      color: $brand-10;
    }
    .content-upload {
      padding: $v-spacing-30;
    }
  }
  .sucess{
    margin-top: $h-spacing-80;
    text-align: center;
    .sucess-title{
      margin-top: $h-spacing-30;
      font-size: $font-size-32;
      color: $brand-2;
    }
    .sucess-des{
      margin-top: $h-spacing-20;
      font-size: $font-size-24;
      color: $brand-10;
    }
    .btn-sucess-footer {
      padding: $v-spacing-30;
      margin-top: $h-spacing-80;
    }
  }
  .submit-btn{
    margin-left: $v-spacing-30;
  }
  .btn-footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    padding: $v-spacing-30;
  }
  .title{
    font-size: $font-size-34;
  }
  .warring-title{
    font-size: $font-size-24;
    color: $brand-12;
    margin-left: $h-spacing-10;
  }
  .id-card-view{
    position: relative;
    .loading{
      position: absolute;
      right: $h-spacing-20;
      top: $h-spacing-20;
    }
  }
  .flex-row{
    display: flex;
    align-items: center;
    .col{
      flex: 1;
    }
    .col-right{
      flex: 1;
      margin-left: $h-spacing-30;
    }
  }
  .btn-bottom{
    margin-top: $v-spacing-30;
  }
  .user-info{
    padding: $v-spacing-30;
    background: $brand-8;
  }
  .effectivene-list{
    display: flex;
    align-items: center;
    height: 88px;
    border: 1px solid $brand-3;
    padding-left: $h-spacing-20;
    padding-right: $h-spacing-20;
    border-radius: $radius-8;
    color: $brand-10;
    margin-bottom: $v-spacing-20;
    .title{
      flex: 1;
      font-size: $font-size-36;
    }

    .radio{
      margin-left: $h-spacing-20;
      font-size: $font-size-20;
    }
  }
  .header{
    padding: $h-spacing-10 $h-spacing-10 $h-spacing-10 $h-spacing-30;
    background: $brand-13;
  }
  .card{
    background: $brand-8;
    padding: $h-spacing-30;
    .name{
      font-size: $font-size-32;
      text-align: center;
      color: $brand-10;
    }

  }
}

.iconfont-verticalline::after {
  content: "\e62b";
}
.iconfont-close::after {
  content: "\e601";
}
.iconfont-idcardpositive::after {
  content: "\e617";
}
.iconfont-idcardreverse::after {
  content: "\e64d";
}
.iconfont-orderSucess::after {
  content: "\e602";
}
.iconfont-bankCardpositive::after {
  content: "\e694";
}
.iconfont-bankCardreverse::after {
  content: "\e693";
}
.iconfont-driver::after {
  content: "\e69f";
}
.iconfont-power::after {
  content: "\e95d";
}
