@import '../../styles/theme';
.login-page{
  .login-header{
    height: 400px;
    background: $brand-1;
    display: flex;
    justify-content: center;
  }
  .login-content{
    background: $brand-8;
    padding: $h-spacing-80 $h-spacing-30 $h-spacing-80 $h-spacing-30;
    margin: $h-spacing-30;
    margin-top: -$h-spacing-80;
    border-radius: $radius-16;
    box-shadow: 0px 10px 10px rgba(211, 210, 210, 0.70);
    .list{
      border-bottom: 1px solid $brand-5;
      padding-top: $h-spacing-30;
      padding-bottom: $h-spacing-30;
    }
    .user-name{
      width: 100%;
      margin-left:$h-spacing-30;
    }
  }
  
  .login-page-buttom{
    margin-top: $h-spacing-60;
  }
}

.iconfont-loginimage::after {
  content: "\e6fe";
}