@import '../../styles/theme';
.login-page{
  height: 100%;
  padding: $v-spacing-30;
  .login-page-title{
    font-size: $font-size-42;
    color: $brand-9;
    margin-bottom: $v-spacing-100;
    padding-top: $v-spacing-100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-page-buttom{
    margin-top: $v-spacing-30;
  }
  .login-page-password{
    margin-top: $v-spacing-30;
  }
  .code-image-view{
    width: 190px;
    height: 88px;
    margin-left: $h-spacing-20;
  }
  .code-image{
    width: 180px;
    height: 88px;
  }
  .rand-code{
    display: flex;
    align-items: flex-start;
    .code{
      flex: 1;
    }
  }
}