@import '../../styles/theme';
.content-table-form{
  .btn-bottom{
    position: fixed;
    bottom: 0px;
    background: $brand-8;
    width: 100%;
    padding: $h-spacing-30;
    border-top: 1px solid $brand-5;
    at-button {
      width: 100%;
    }
  }
  .card-body{
    padding: $h-spacing-16;
  }
  .flex-row{
    display: flex;
    align-items: center;
    .col{
      flex: 1;
    }
    .col-right{
      flex: 1;
      margin-left: $h-spacing-30;
    }
  }
}
.iconfont-down::after {
  content: "\e64a";
}