@import '../../styles/theme';
.content-table-form{
  padding: $v-spacing-30;
  .flex-row{
    display: flex;
    align-items: center;
    .col{
      flex: 1;
    }
    .col-right{
      flex: 1;
      margin-left: $h-spacing-30;
    }
  }
}
.iconfont-down::after {
  content: "\e64a";
}