@import '../../styles/theme';
page{
  background: $brand-13;
}
.order-page{
  .at-tabs__header{
    height: 44PX;
    align-items: center;
  }
  .at-tabs__item{
    padding: 0px;
    height: 44PX;
    display: flex;
    align-items: center;
    justify-content: center;

    .at-tabs__item-underline{
      height: 2PX;
      width: 50px;
      margin-left: calc(50% - 25px);
      // width: calc(100% - 5px);
    }
  }
  .card-meta{
    display: flex;
    align-items: center;
    padding: $h-spacing-30;
    background: $brand-8;
    margin-bottom: $h-spacing-20;
    .des{
      flex: 1;
      .user-name{
        font-size: $font-size-34;
        font-weight: 600;
      }
      .time{
        margin-left: $h-spacing-20;
      }
    }
    .status{

    }
  }
}