@import '../../styles/theme';
page{
  background: $brand-5;
}
.at-steps__single-icon--success{
  color: $brand-1;
}
.report-page{
  .step{
    background: $brand-8;
    padding-top: $v-spacing-30;
    padding-bottom: $v-spacing-20;
  }
  .list{
    background: $brand-8;
    margin-top: $v-spacing-20;
    .item-extra__info{
      color: $brand-2;
    }
  }
  .list-row-c{
    margin-bottom: $v-spacing-20;
  }
  .next-btn{
    display: flex;
    align-items: center;
    padding: $v-spacing-30;
    justify-content: space-between;
  }
}
.iconfont-idcard::after {
  content: "\e674";
}