@import "../../styles/theme";
page {
  background: $brand-5;
  overflow: hidden;
}
.at-steps__single-icon--success {
  color: $brand-1;
}
.report-page {
  .header{
    padding: $h-spacing-20 $h-spacing-30 $h-spacing-20 $h-spacing-30;
    .title{
      margin-left: $v-spacing-20;
      color: $brand-2;
    }
  }
  .content{
    background: $brand-8;
    flex-flow: wrap;
    padding: $v-spacing-30 $v-spacing-30 0px $v-spacing-30;
    .image{
      width: 200px;
      height: 200px;
      margin-bottom: $v-spacing-30;
      border: 1px solid #ddd;
    }
  }
  .row-info{
    padding: $h-spacing-10;
    .value{
      margin-left: $v-spacing-30;
    }
  }
  .prompt {
    background: $brand-2;
    padding: $v-spacing-30;
    .status {
      display: flex;
      align-items: center;
      color: $brand-8;
      .status-left{
        display: flex;
        align-items: center;
        flex: 1;
      }
      .message{
        margin-left: $v-spacing-20;
        margin-right: $v-spacing-20;
        font-size: $font-size-34;
      }
    }
    .error-des{
      background: $brand-6;
      font-size: $font-size-28;
      padding: $v-spacing-20;
      color: $brand-2;
      margin-top: $v-spacing-20;
      border-radius: $radius-8;
      .reason{
        font-size: $font-size-24;
        margin-top: $v-spacing-20;
        word-wrap: break-word;
        word-break:break-all;
        white-space:pre-wrap;
      }
    }
    .link-message{
      display: flex;
      align-items: center;
      font-size: $font-size-24;
      color: $brand-10;
      margin-top: $v-spacing-20;
      .name{
        margin-right: $v-spacing-10;
      }
      .code{
        margin-right: $v-spacing-10;
      }
      .btn{
        font-size: $font-size-20;
        padding: $h-spacing-10;
        line-height: 1;
        border-radius: 0px;
        background: $brand-10;
      }
    }
  }
  .list-col {
    background: $brand-8;
    margin-bottom: $v-spacing-20;
  }
  .spacing{
    height: 100px;
  }
  .list-row-c {
    margin-bottom: $v-spacing-20;
  }
  .btn-footer{
    padding: $v-spacing-30;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: $brand-8;
  }
  .next-btn {
    width: 100%;
    .at-button {
      height: 44PX;
      line-height: 44PX;
      border-radius: 0px;
    }
  }
  .small-btn{
    font-size: $font-size-20;
    text-align: right;
  
  }
}
.iconfont-idcard::after {
  content: "\e674";
}
.iconfont-point::after {
  content: "\e62c";
}

.iconfont-sucess::after {
  content: "\e657";
}
.iconfont-colose::after {
  content: "\e601";
}
.iconfont-phone::after {
  content: "\e635";
}
.iconfont-shuxian::after {
  content: "\e684";
}
.iconfont-underReview::after {
  content: "\e653";
}

.iconfont-image::after {
  content: "\e625";
}

.iconfont-danbao::after {
  content: "\e61e";
}

.iconfont-carinfo::after {
  content: "\e63c";
}
.iconfont-gather::after {
  content: "\e615";
}
.iconfont-product::after {
  content: "\e74d";
}
.iconfont-material::after {
  content: "\e63d";
}
.iconfont-gps::after {
  content: "\e637";
}
.iconfont-diya::after {
  content: "\e61c";
}
.iconfont-hetong::after {
  content: "\e646";
}
