/** taro-ui 主题配置 **/
$color-brand: #4984FD;

/** **** **/

@import "./theme.scss";
@import "~taro-ui/dist/style/index.scss";
@import './iconfont.scss';
page{
  width: 100%;
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}

.at-curtain__container{
  width: 690px !important;
}
view {
  box-sizing: border-box;
}
.iconfont-down::after {
  content: "\e64a";
}
.iconfont-close::after {
  content: "\e601";
}

.iconfont-upload::after {
  content: "\e61d";
}

