
@import '../../styles/theme';
page{
  background: $brand-5;
 
}
.contact-card-page{
  .btn-bottom{
    position: fixed;
    bottom: 0px;
    background: $brand-8;
    width: 100%;
    padding: $h-spacing-30;
    border-top: 1px solid $brand-5;
    at-button {
      width: 100%;
    }
  }
  // .card-body{
  //   padding: $h-spacing-16;
  // }
  .card{
    padding: $v-spacing-30;
    background: $brand-8;
    // margin-bottom: $v-spacing-30;
  }
  .title{
    font-size: $font-size-36;
    font-weight: 600;
    padding: $h-spacing-20 $h-spacing-30 $h-spacing-20 $h-spacing-30;
    display: flex;
    align-items: center;
    .at-switch__title{
      margin-right: $h-spacing-10;
    }
    .at-switch{
      padding: 0px;
    }
    .name{
      flex: 1;
    }
    .check{
      color: $brand-2;
      font-size: $font-size-26;
      background: $brand-5;
      .at-switch{
        background: $brand-5;
        .at-switch__container{
          background: $brand-5;
        }
      }
    }
  }
  .form-row{
    display: flex;
    align-items: center;
  }
  .form-item{
    flex: 1;
  }
  .pading-form{
    margin-left: $h-spacing-30;
  }
  .flex-row{
    display: flex;
    align-items: center;
    .col{
      flex: 1;
    }
    .col-right{
      flex: 1;
      margin-left: $h-spacing-30;
    }
  }
  .effectivene-list{
    display: flex;
    align-items: center;
    height: 88px;
    border: 1px solid $brand-3;
    padding-left: $h-spacing-20;
    padding-right: $h-spacing-20;
    border-radius: $radius-8;
    color: $brand-10;
    margin-bottom: $v-spacing-30;
    .title{
      flex: 1;
      font-size: $font-size-36;
    }
    .radio{
      margin-left: $h-spacing-20;
    }
  }
  .id-card-view{
    position: relative;
    .loading{
      position: absolute;
      right: $h-spacing-20;
      top: $h-spacing-20;
    }
  }
  .btn{
    background:$brand-8; ;
    padding: $h-spacing-30;
  }
 
}
.iconfont-down::after {
  content: "\e64a";
}
.iconfont-sucess::after {
  content: "\e71b";
}