@import '../../styles/theme';
.home-page{
  .add-place{
    background: $brand-5;
    height: 300px;
    color: $brand-1;
    border-radius: $radius-16;
    margin: $v-spacing-30;
    display: flex;
    align-items: center;
    justify-content: center;
    .text{
      margin-left: $h-spacing-30;
    }
  }
}
