@import '../../styles/theme';
page{
  background: $brand-8;
}
.product-card-page{
  .btn-bottom{
    position: fixed;
    bottom: 0px;
    height: 60PX;
    background: $brand-8;
    width: 100%;
    padding-left: $h-spacing-30;
    padding-right: $h-spacing-30;
    padding-top: $h-spacing-10;
    display: flex;
    align-items: center;
    border-top: 1px solid $brand-5;
    at-button {
      width: 100%;
    }
  }
  .header-title{
    font-size: $font-size-28;
    color: $brand-9;
    text-align: center;
  }
  .content-title{
    font-size: $font-size-24;
    color: $brand-3;
    text-align: center;
    padding:$h-spacing-10;
  }
  .text-detail{
    color: $brand-1;
    font-size: $font-size-28;
    position: absolute;
    margin-top: -80px;
    right: 50px;
    z-index: 10;
  }
  .card-body{
    padding: $h-spacing-16;
    position: relative;
  }
  .form-row{
    display: flex;
    align-items: center;
  }
  .form-item{
    flex: 1;
  }
  .pading-form{
    margin-left: $h-spacing-30;
  }
  .flex-row{
    display: flex;
    align-items: center;
    .col{
      flex: 1;
    }
    .col-right{
      flex: 1;
      margin-left: $h-spacing-30;
    }
  }
  .product-description{
    color: $brand-10;
    font-size: $font-size-32;
    .description{
      font-size: $font-size-28;
    }
  }
}
.iconfont-down::after {
  content: "\e64a";
}
.iconfont-sucess::after {
  content: "\e71b";
}