@import '../../styles/theme';
.stpes-list{
  background: $brand-1;
  display: flex;
  align-items: center;
  height: 35PX;
  // padding-top: $v-spacing-20;
  // padding-bottom: $v-spacing-20 ;
  .item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .text{
      color: $brand-8;
      font-size: $font-size-24;
      margin-left: $v-spacing-10;
    }
    .active-text{
      color: $brand-7;
      font-size: $font-size-24;
      margin-left: $v-spacing-10;
    }
  }
}