@import '../../styles/theme';
page{
  background: $brand-13;
  overflow: hidden;
}
.info-supplement{
  .no-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: -20%;
    .no-dataimage{
      width: 400px;
      height: 400px;
    }
    .text{
      font-size: $font-size-28;
      color: $brand-1;
    }
  }
  .card{
    margin: $h-spacing-30;
    border-radius: $radius-16;
  }
  .card-detail{
    padding: $h-spacing-30;
    background: $brand-8;
    margin-bottom: $h-spacing-20;
    .card-meta{
      display: flex;
      align-items: center;
      margin-bottom: $h-spacing-10;
      .des{
        flex: 1;
        .user-name{
          font-size: $font-size-34;
          font-weight: 600;
        }
        .time{
          margin-left: $h-spacing-20;
          font-size: $font-size-28;
        }
      }
      .status{
        font-size: $font-size-28;
        
      }
    }
    .task-title{
      font-size: $font-size-28;
      margin-left: $h-spacing-10;
    }
    .product-name{
      font-size: $font-size-22;
      color: $brand-1;
      background: #f1f2f6;
      padding: $v-spacing-4 $h-spacing-10;
    }
  }

}
