@import '../../styles/theme';
.image-picker{
  width: 192px;
  .add-image{
    width: 190px;
    height: 190px;
    border: 1px solid $brand-5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preview{
    position: relative;
    .close{
      position: absolute;
      right: 10px;
      margin-top: -180px;
    }
  }
  .close-modal{
    position: absolute;
    right: -10px;
    margin-top: -10px;
    z-index: 10;
  }
  .colose-footer{
    padding: $h-spacing-20;
    display: flex;
    justify-content: flex-end;
  }
  .file-bm{
    width: 190px;
    height: 190px;
    border: 1px solid $brand-5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .file-video{
    width: 190px;
    height: 190px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-mul-image{
    width: 190px;
    height: 190px;
    border: 1px solid $brand-5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal-content{
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    padding: $h-spacing-30;
  }
  .upload-btn{
    width: 60px;
    height: 60px;
    border: 1px solid $brand-5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mut-image{
    width: 60px;
    height: 60px;

  }
  .mut-file-bm{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image{
    width: 190px;
    height: 190px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .other{
    width: 190px;
    height: 190px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .other-name{
    font-size: $font-size-24;
    color: $brand-3;
  }
  .lable{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-24;
    margin-top: $h-spacing-10;
    width: 190px;
    word-wrap: break-word;
    .required-icon{
      color: $brand-12;
    }
  }
}

