@import '../../styles/theme';

.choose-addr{
  width: 100%;
}
.animation-element-wrapper {
  display: flex;  
  position: fixed;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  .animation-element {
    display: flex;
    position: fixed;
    width: 100%;
    height: 470px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  picker-view{
    background-color: white;
    padding: 0;
    width: 100%; 
    height: 380px;
    bottom: 0;
    position: fixed;
  }
  picker-view-column view{
    vertical-align:middle; 
    font-size: 28px;
    line-height: 28px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-bt{
    left: $h-spacing-30;
    color: $brand-10;
    display: inline-flex;  
    position: fixed;
    margin-top: $v-spacing-30;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: $font-size-34;
    font-family: Arial, Helvetica, sans-serif;
  }
  .right-bt {
    right: $h-spacing-30;
    color: $brand-1;
    display: inline-flex;  
    position: fixed;
    margin-top: $h-spacing-20;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: $font-size-34;
    font-family: Arial, Helvetica, sans-serif;
  }
  .at-list__item-extra{
    max-width: 500px !important;
  }
}
