@import '../../styles/theme';
page{
  background: $brand-13;
}
.material-card-page{
  .title{
    font-size: $font-size-30;
    padding: $h-spacing-30;
 }
  .list-row{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: $h-spacing-30;
  }
  .card-list{
   background: $brand-8;
    padding-bottom: $h-spacing-60;
  }
  .flex-1{
    flex:1;
  }
  .btn-bottom{
    position: fixed;
    bottom: 0px;
    height: 60PX;
    background: $brand-8;
    width: 100%;
    padding-left: $h-spacing-30;
    padding-right: $h-spacing-30;
    padding-top: $h-spacing-10;
    display: flex;
    align-items: center;
    border-top: 1px solid $brand-5;
    at-button {
      width: 100%;
    }
  }
}