@import '../../styles/theme';
page{
  background: $brand-13;
  overflow: hidden;
}
.material-card-page{
  .btn-bottom{
    position: fixed;
    bottom: 0px;
    background: $brand-8;
    width: 100%;
    padding: $h-spacing-30;
    border-top: 1px solid $brand-5;
    at-button {
      width: 100%;
    }
  }
  .at-modal__container {
    width: 700px !important;
  }
 .list-row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: $h-spacing-30;
 }
 .card-list{
  background: $brand-8;
   padding-bottom: $h-spacing-60;
 }
 .title{
    font-size: $font-size-30;
    padding: $h-spacing-30;
 }
}
